@import "variables";

/* -------------------------------------------------------
  Candidate Page
------------------------------------------------------- */

#candidate {
	padding: 15px 30px 45px;

	@media screen and (max-width: 600px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-title {
		padding: 0;
		text-align: left;

		&::before,
		&::after {
			display: none;
		}
	}

	.candidate-info__data {
		width: 320px;
		display: inline-block;

		@media screen and (max-width: 580px) {
			width: 100%;
			padding-left: 0;
		}
	}

	.candidate__name {
		font-weight: 900;
		font-size: 1.3em;
		margin: 0;
		padding: 6px 0 0;
	}

	.candidate__party {
		font-weight: 700;
		font-size: 1.2em;
		margin: 0;
		padding: 0;
	}

	.candidate__catchword {
		font-weight: 500;
		font-size: .8em;
		margin: .4em 0 .6em;
		line-height: 1.1;
	}

	.app-nav {
		position: absolute;
		top: 90px;
		right: 30px;

		@media screen and (max-width: 1000px) {
			top: 22px;
		}

		@media screen and (max-width: 875px) {
			width: 240px;
			text-align: right;
		}

		@media screen and (max-width: 815px) {
			width: auto;
			position: static;
			text-align: left;
			margin:  1em 0 3.7em;
		}

		button {
			margin-left: 20px;
			width: 230px;
			border: 1px solid $voto-blue;

			@media screen and (max-width: 875px) {
				margin-bottom: 10px;
			}

			@media screen and (max-width: 815px) {
				margin: 0;
			}

			@media screen and (max-width: 580px) {
				margin: 6px 0;
			}
		}

		.view-candidates {
			color: $voto-blue;
			background-color: transparent;

			&:hover {
				background-color: darken($voto-blue, 2%);
				color: #fff;
			}
		}
	}

	.tabs__container {
		border: 1px solid #ccc;
		position: relative;
		margin-top: 2em;

		.tabs__nav {
			position: absolute;
			bottom: 100%;
			left: 35%;

			@media screen and (max-width: 815px) {
				left: -1px;
			}

			button {
				background-color: #ccc;
				color: #777;
				font-weight: 500;
				margin-right: .5em;
				border-radius: 0;
				border: 1px solid #ccc;

				@media screen and (max-width: 580px) {
					font-size: .9em;
					padding: .8em;
				}

				&:focus,
				&:active {
					outline: none;					
				}
			}

			.active {
    			background-color: #f3f2f2;
				border-bottom-color: #f3f2f2;;
			}
		}
	}

	.content {
		padding: 1em 1.2em;
	}

	.candidate-proposals,
	.candidate-answers {
		@media screen and (max-width: 600px) {
			word-wrap: break-word;
		}
	}

	.answers {
		font-weight: 700;
		color: $voto-blue;

		@media screen and (max-width: 580px) {
			padding-left: 1.3em;
		}

		.question {
			color: #555;
			font-weight: 500;
			margin: 0;
		}

		.response {
			border: 1px solid $voto-blue;
			margin: .5em 0 1em;
			padding: .5em 0 .4em;
			width: 80px;
			border-radius: 3px;
			text-transform: uppercase;
			text-align: center;
		}

		.explanation {
			font-weight: 300;
			font-size: .9em;
			padding: .8em 1.2em .7em;
			color: #666;
			background-color: #e0e0e0;
			width: 70%;
			-webkit-font-smoothing: auto;
			font-smooth: auto;
			border-left: 4px solid #b8b8b8;

			@media screen and (max-width: 600px) {
				width: auto;
			}
		}
	}
}