/* -------------------------------------------------------
  Boilerplate
------------------------------------------------------- */

.hidden {
  display: none !important;
  visibility: hidden;
}

.centered {
  max-width: 960px;
  *width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

/* -------------------------------------------------------
  Global
------------------------------------------------------- */

.icons-sprite,
.app-footer .monoku,
.app-footer .espectador,
.app-footer .congresovisible,
.app-footer .uniandes,
#main.last-round:before,
#poll .relevancy .relevancy__level,
#poll .recommendation__empty .mask,
#intention .selected:after {
  background: url("../images/sprites.png") no-repeat;
}

body {
  font-family: "franklin-gothic-urw",sans-serif;
  line-height: 1.4;
  color: #333;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 1.9em;
  margin-top: 0;
}

h1, 
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: normal;
}

button {
  background-color: #004a8e;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  padding: .7em 1.6em;
  border-radius: 2px;

  &:hover {
    background-color: #003f7a;
  }
}