<section id="main">
  <h1>&iquest;Aún no sabe por quién votar?</h1>
  <h2>Elija a Conciencia</h2>
  <div class="actions">
    <button class="go-to-poll" ng-click="goTo('start-poll')">Encuentre su candidato</button>
    <button class="view-all" ng-click="goTo('candidates')">Ver Candidatos</button>
  </div>
  <footer class="app-footer">
    Un proyecto de
    <a href="http://elespectador.com" target="_blank" class="espectador">El Espectador</a>
    <a href="http://congresovisible.org" target="_blank" class="congresovisible">Congreso Visible</a>
    <a href="http://www.uniandes.edu.co" target="_blank" class="uniandes">Uniandes</a>
    <a href="http://monoku.com" target="_blank" class="monoku">Monoku</a>
  </footer>
</section>